<section class="cliente-container cliente-hero">
    <div class="cliente-hero-content">
      <div class="cliente-info">
        <p class="cliente-label">Tecnologia de Ponta</p>
        <h1 class="cliente-titulo">Inspire-se com a <br /> TechZone.</h1>
        <p class="cliente-subtitulo">Explore os melhores produtos de informática para turbinar seu setup.</p>

        <button class="cliente-botao">
          Ver todos os produtos
          <span class="cliente-icone">↗</span>
        </button>

        <div class="cliente-social">
          <p>Siga-nos:</p>
          <div class="social-icons">
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-tiktok"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
          </div>
        </div>
      </div>

      <div class="cliente-img-area">
        <img src="../../../../../assets/img/stylish-gray-white-headphones-music-audio-device.png" alt="Computador Gamer" class="cliente-img" />
      </div>
    </div>
  </section>